{%load static%}
{% block body_block %}

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Emre Atadil</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

	<!--================ Start Header Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
					<a class="navbar-brand logo_inner_page" href="index.html"><img src="img/logo2.png" alt=""></a>      
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav">
							<li class="nav-item active"><a class="nav-link" href="{% url 'blog:index' %}">Anasayfa</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:aboutme' %}">Hakkımda</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'blog:home' %}">Blog</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6">
						<div class="banner_content">
							<h1 class="text-uppercase">Emre Atadil</h1>
							<h5 class="text-uppercase">Associate Product Manager & Trendyol</h5>
							<div class="social_icons my-5">
								<a href="https://twitter.com/emreatadil" target="_blank"><i class="ti-twitter"></i></a>
								<a href="https://www.instagram.com/emreatadil/" target="_blank"><i class="ti-instagram"></i></a>
								<a href="https://github.com/emreatadl" target="_blank"><i class="ti-github"></i></a>
								<a href="https://tr.linkedin.com/in/emre-atadil" target="_blank"><i class="ti-linkedin"></i></a>
							</div>
							<a class="primary_btn" href="{% url 'blog:aboutme' %}"><span>Hakkımda</span></a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="home_right_img">
							<img class="img-fluid" src="{% static 'img/banner/home-right-5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Statistics Area =================-->
{% comment %}	<section class="statistics_area">
		<div class="container">
			<div class="row justify-content-lg-start justify-content-center">
				<div class="col-lg-2 col-md-3">
					<div class="statistics_item">
						<h3><span class="counter">15</span>k+</h3>
						<p>Happy Customer</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3">
					<div class="statistics_item">
						<h3><span class="counter">12</span>k+</h3>
						<p>Ticket Solved</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3">
					<div class="statistics_item">
						<h3><span class="counter">9</span>/10</h3>
						<p>Average Rating</p>
					</div>
				</div>
			</div>
		</div>
	</section>{% endcomment %}
	<!--================ End Statistics Area =================-->
	<!--================ Start Blog Area =================-->
	<section class="blog-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text"><span></span></p>
						<h2>Son Yazılarım</h2>
					</div>
				</div>
			</div>

			<div class="row">
                {% for last_post in queryset_index %}
				<div class="col-lg-4 col-md-6">
					<div class="single-blog">
						<div class="thumb">
							<img class="img-fluid" src="{{ last_post.model_pic.url }}" alt="">
						</div>
						<div class="short_details">
							<div class="meta-top d-flex">
								<a><i class="ti-user"></i>{{ last_post.author }}</a>
								<a><i class="ti-calendar"></i>{{ last_post.created_on }}</a>
							</div>
							<a class="d-block" href="{% url 'blog:post_detail' last_post.slug %}">
								<h4>{{ last_post.title }}</h4>
							</a>
							<div class="text">
								<p>{{ last_post.content | safe | slice:150 }}</p>
							</div>
							<a href="{% url 'blog:post_detail' last_post.slug %}" class="primary_btn2">Devamını Oku</a>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!--================ End Blog Area =================-->


	<!--================ Start Features Area =================-->
	{% comment %}<section class="services_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
                        <p class="top_text"><span></span></p>
						<h2>Online Tools</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="service_item">
						<img src="{% static 'img/services/s1.png' %}" alt="">
						<h4>Web Development</h4>
						<p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
							brought fish forth</p>
						<a href="#" class="primary_btn2 mt-35">Learn More</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="service_item">
						<img src="{% static 'img/services/s2.png' %}" alt="">
						<h4>UX/UI Design</h4>
						<p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
							brought fish forth</p>
						<a href="#" class="primary_btn2 mt-35">Learn More</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="service_item">
						<img src="{% static 'img/services/s3.png' %}" alt="">
						<h4>WP Developing</h4>
						<p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
							brought fish forth</p>
						<a href="#" class="primary_btn2 mt-35">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>{% endcomment %}
	<!--================ End Features Area =================-->


  <!--================ Start Testimonial Area =================-->
	{% comment %}<section class="testimonial_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text">Our Tesitmonial <span></span></p>
						<h2>Honourable Client Says <br>
							About Me </h2>
					</div>
				</div>
      </div>

      <div class="owl-carousel owl-theme testimonial-slider ">
        <div class="testimonial-item">
          <div class="row">
            <div class="col-lg-6">
              <div class="testi-img mb-4 mb-lg-0">
                <img src="{% static 'img/testimonials/testimonial1.png' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-right">
                <h4>Roser Henrique</h4>
                <p><small>Project Manager, Apple</small></p>

                <p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
                <ul class="star_rating mt-4">
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li class="disable"><span><i class="fas fa-star"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="testimonial-item">
          <div class="row">
            <div class="col-lg-6">
              <div class="testi-img mb-4 mb-lg-0">
                <img src="{% static 'img/testimonials/testimonial1.png' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-right">
                <h4>Roser Henrique</h4>
                <p><small>Project Manager, Apple</small></p>

                <p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
                <ul class="star_rating mt-3">
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li class="disable"><span><i class="fas fa-star"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="testimonial-item">
          <div class="row">
            <div class="col-lg-6">
              <div class="testi-img mb-4 mb-lg-0">
                <img src="{% static 'img/testimonials/testimonial1.png' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-right">
                <h4>Roser Henrique</h4>
                <p><small>Project Manager, Apple</small></p>

                <p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
                <ul class="star_rating mt-3">
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li><span><i class="fas fa-star"></i></span></li>
                  <li class="disable"><span><i class="fas fa-star"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>{% endcomment %}
	<!--================ End Testimonial Area =================-->

	<!--================ Start Brands Area =================-->
	<section class="brands-area section_gap_bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main_title">
                                <p class="top_text"><span></span></p>
                                <h2>Çalıştığım Firmalar </h2>
                            </div>
                        </div>
                    </div>
                    <div class="owl-carousel brand-carousel">
                        <!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<a href="https://www.trendyol.com/" target="_blank">
                                    <img  src="{% static 'img/company/trendyol-logo.png' %}" alt="">
                                </a>							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<a href="https://www.hepsiburada.com/" target="_blank">
                                    <img  src="{% static 'img/company/hepsiburada-logo.png' %}" alt="">
                                </a>							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<a href="https://www.hsbc.com.tr/" target="_blank">
                                    <img  src="{% static 'img/company/hsbc-logo.png' %}" alt="">
                                </a>
							</div>
						</div>

                        <div class="single-brand-item d-table">
							<div class="d-table-cell">
								<a href="https://www.meplast.com.tr/homepage/" target="_blank">
                                    <img  src="{% static 'img/company/meplast-logo.png' %}" alt="">
                                </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brands Area =================-->

	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo">
							<a href="#">
								<img src="{% static 'img/logo3.png' %}" alt="">
							</a>
							<div class="d-lg-block d-none">
								<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
									<div class="collapse navbar-collapse offset">
										<ul class="nav navbar-nav menu_nav mx-auto">
											<li class="nav-item"><a class="nav-link text-white" href="index.html">Anasayfa</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="about.html">Hakkımda</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="blog.html">Blog</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="services.html">Projelerim </a></li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
						<div class="footer_social mt-lg-0 mt-4">
                            <a href="https://tr.linkedin.com/in/emre-atadil"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://github.com/emreatadl"><i class="fab fa-github"></i></a>
                            <a href="https://twitter.com/emreatadil"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/emreatadil/"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm haklar saklıdır. | Development powered <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://tr.linkedin.com/in/emre-atadil" target="_blank">Emre Atadil</a><br>
I love <i class="fa fa-heart" aria-hidden="true"></i> <a href="https://tr.linkedin.com/in/emre-atadil" target="_blank">Django</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
	<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
</body>

</html>

{% endblock %}